.saije74{background-color:#fff;}
html *:not(pre) > .ssr9la3{padding:0.2em 0.3em !important;}
.sjptzlm{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}.sjptzlm.ais{-webkit-align-items:stretch;-webkit-box-align:stretch;-ms-flex-align:stretch;align-items:stretch;}.sjptzlm.fxww{-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;}.sjptzlm.fc2 > *{width:50%;}.sjptzlm.flex-childs > *{-webkit-flex:1 0 auto;-ms-flex:1 0 auto;flex:1 0 auto;}
.s5kqocy{margin:24px 0px;padding-inline-start:1.3em;}.s5kqocy li{font-size:16px;line-height:1.8;font-weight:400;}
