:root {
  --commonTextSize: 20px;
  --accentColor: #3884ff;
  --accentHoverColor: #1656b3;
  --hoverColor: #f0f0f0;
  --backgroundColor: #fff;
  --headingColor: #000;
  --textColor: #222;
  --preFormattedTextColor: rgb(245, 247, 249);
  --linkColor: #3884ff;
  --decoColor: rgb(230, 236, 241);
  --boxShadow: rgba(74, 83, 87, 0.1) 0px 3px 10px 0px;
}

[data-theme="dark"] {
  --hoverColor: #434343;
  --backgroundColor: #2a2b2d;
  --headingColor: #fff;
  --textColor: #fafafa;
  --preFormattedTextColor: #201f23;
  --linkColor: #3884ff;
  --decoColor: #777;
  --boxShadow: rgba(0, 0, 0, 0.3) 0px 4px 12px 0px;
}

@media (max-width: 767px) {
  :root {
    --commonTextSize: 18px;
  }
}
